

.theme-light {
    --color: black;
    --bg: white;
}

.theme-dark {
    --color: white;
    --bg: black;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.Arrow {
    width: 24px;
    height: 24px;
}

.App {
    background-color: #88301f;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Text {
    color: var(--color);
}

.Title {
    font-size: 36px;
    font-weight: 700;
    color: var(--color);
}
  
.Subtitle {
    font-style: italic;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
  
.Description {
    font-size: 20px;
    color: var(--color);
    margin: 15px;
  }
  
.Hint {
    font-size: 16px;
    margin: 5px;
    color: var(--color);
}

.Background {
    position: fixed;
    background: radial-gradient(
        circle,
        rgba(252, 253, 253, 0.1) 30%,
        #88301f 100%
    );
    box-shadow: 0px 8px 20px 0px rgba(0, 8, 21, 0.7) inset;
    border-radius: 50%;
    width: 150vw;
    height: 150vw;
    top: -50vw;
    left: -10vw;
}

@keyframes Logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes Logo-shake {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

/* The .Banner class is given a flex-grow value of 5 to allocate more space 
   to this section within the flex container, ensuring it occupies a larger 
   portion of the available space compared to other flex items. */
.Banner {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .Logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .Logo--main {
    width: 100px;
    height: 100px;
    animation: Logo--spin infinite 20s, Logo-shake 2s ease-in-out;
   width: 100px;
    height: 100px;
    animation: Logo--spin infinite 20s, Logo-shake 2s ease-in-out;
}